# Kite Zerodha
KITE_API_KEY=your_api_key
KITE_ACCESS_TOKEN=your_access_token

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS_JSON=./credentials/google_service_account.json
GOOGLE_SHEET_ID=[google_sheet_id from user_config.json]

# App
DATABASE_PATH=./data/investment_os.duckdb
ENVIRONMENT=development
