# Kite Zerodha
KITE_API_KEY=your_api_key
KITE_API_SECRET=your_api_secret
KITE_ACCESS_TOKEN=your_access_token_from_session_exchange

# Google Sheets
GOOGLE_SHEETS_CREDENTIALS_JSON=./credentials/google_service_account.json
GOOGLE_SHEET_ID=1VxjJti09_qU0yaE24CmjSab1j03tIobkFFDSmzn7dkE

# App
DATABASE_PATH=./data/investment_os.duckdb
ENVIRONMENT=development
